.buttons {
    margin-top: 25px;
}

.hidden {
    display: none;
}

.modal-text {
    font-size: 40px;
}

.zip-button {
    float: right;
    padding: 10px;
    width: 100%;
}

.zip-form {
    padding: 15px;
}